@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* banner//// */


.container{
    width: 990px;
    height: 450px;
    background: #161616;
    margin-top: 5%;
    margin-bottom: 8%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-info{
    width: 50%;
    color: aliceblue;
}
.banner-img >img{
    margin-top: 55px;
    height: 400px;
}
.banner-info> h1{
font-weight: 700;
font-size: 45px;
/* line-height: 56px; */
padding-top: 10px ;
margin-bottom: 0;
color: #FFF;
}
.banner-info>p{
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 25px;
}

.btn{
   
    padding: 12px 28px;
    background-color: #e6d223;
    border-radius: 5px;
    transition: color 0.5s ease-in-out ;
    

}
.btn:hover{
    background-color: #0b0b0b;
    color: #e6d223;
    border: 1px solid #e6d223;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transition:transform 0.5;
    transform-origin:0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    z-index: -1;

}
.watch-btn a{

    text-decoration: none;
    color: #000;
    font-weight: 700;
}

/* .....2nd container... */

.container2{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-gap: 15px;

}
.transfer{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin-left: 18%;
}
.blog{
    width: 200px;
    height: 220px;
    background-color: #000;
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    margin-left: 70%;
   
}

.blog >a{
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: 600;
    border-radius: 10px;
    margin: 10px;
}

.blog>a:hover{
    color: #8e8214;
}


.blog-info{
    padding: 10px 15px;
} 
.blog-info p{
    font-size: 10px;
    font-weight: bold;
} 
.blog-info >a{
    font-size: 10px;
    padding: 2px 15px;
    border-radius: 5px;
    text-decoration: none;
    
}


.transfer-live{
    width: 250px;
    height: 300px;
    border: 1px solid rgb(215, 205, 205);
    border-radius: 10px;
}
.blog-img>img{
    width: 250px;
    height: 150px;
    padding-bottom: 20px ;
}
.icon a{
    text-decoration: none;
    padding: 10px 10px;
}

.icon{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    
}


    


/* ////footer/// */
footer{
    text-align: center;
    height: 200px;
    width: 100%;
    background: #161616;
    padding-top: 5px;
    margin-top: 6%;
}
.goal>h4 {

    font-size: 30px;
    line-height: 10px;
    font-weight: 500;
    color: #fff;
}
a {

    text-decoration: none;
    color:  #B9B9B9;
    font-size: 12px;
    padding: 0 10px;

}

.s-icon{
    
    line-height: 50px;
    font-size: 20px;
    color: #B9B9B9;
    text-align: center;
}
i{
    padding-left: 15px;
}
/* ..........///
Mobile Device
............../// */
@media screen and (max-width:767px) {

    .container{
width: 85%;
height:680px;
display: grid;
justify-content: center;
align-items: center;
text-align: center;
grid-template-columns: repeat(1,1fr);
flex-direction: column;
    }
    
    .banner-info{
        color: aliceblue;
        text-align: center;
        margin-left: 90px;

    }
    .banner-info> h1{
        font-weight: 400;
        font-size: 30px;
       
        margin-bottom: 0;
        color: #FFF;
        }
        
        .banner-info> p{
            border: 1px solid  #161616;
            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    .banner-img >img{
        height: 260px;
        width: 250px;
        margin-left: 30px;
        
    
    }
    .container2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 15px;
    }

    .blog{
        width: 200px;
        height: 220px;
        background: #FFF;
        display:flex ;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 30px;
        margin-left: 15%;
       
    }
    .blog>a{
        border: 1px solid 
        #E8E8E8;
    }

    .transfer{
        text-align: center;
        margin-left: 1%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
    }
    .All-btn{
        display: none;
    }
    footer{

        height: 300px;
        padding-bottom: 10px;
       
    }
    .footer-info {
display: flex;
text-align: center;
flex-direction: column;
gap: 10px;
padding-top: 10px;

    }
}
/* desktop */
@media only screen and  (min-width: 1024px ){
    .All-btn{
display: none;
    }
}
/* .....................
Tablet
........... */


    
@media only screen and  (min-width: 768px )and (max-width:1023px){
.container{
    width: 700px;
    height: 380px;
   
}
.banner-info{
   
    width: 50%;
    color: aliceblue;
}
.banner-info>h1{
font-size: 35px;

}
.banner-img >img{
    margin-top: 58px;
    height: 328px;
}
.container2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 15px;}
.blog{
    width: 50px;
    height: 50px;
    background: #FFF;
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 30px;
    margin-left: 50%;
   
}
.blog>a{
    border: 1px solid 
    #E8E8E8;
    padding-left: 30px;
}
.transfer{
    text-align: center;
    margin-left: 1%;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
#trandfer-hide{
    display: none;
    
}
.All-btn{
    text-align: center;
}
.btn{
   
   
    position: relative;
    padding: 12px 10px;
    background-color: #e6d223;
    border-radius: 5px;
    margin-top: 20%;
    align-items: center;
    
    
}
.All-btn a{
    text-align: center;
    color: #000;
    font-weight: bold;
    
}

}